<!DOCTYPE html>
<html lang="en">

<head>
  <title>Find out more: Robin's World</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li class="selected"><a href="/about">Find out more</a></li>
        <li><a href="/music">Music</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div>
      <h2>About Robin's World</h2>
      <p>My name is Robin and I love cooking. I like making up recipe's.</p>
    </div>
  </section>
</body>

<html>
