<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/about">Find out more</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <article>
      <h2>Welcome to Robin's World</h2>
      <section class="col two-thirds">
        <p>Hi I'm Robin. I want to share my creations with you like my <a href="/recipes">recipes</a>, <a href="/music">music</a>, and <a href="/art">art</a>. I am very interested in lots of topics and I want learn more. I hope you enjoy my website with lots of subjects.</p>
      </section>
      <section class="col right third">
        <figure>
          <img src="/public/images/robin.png" width="400" alt="robin" />
          <figcaption>Hi, I'm Robin</figcaption>
        </figure>
      </section>
    </article>
  </main>
</body>

<html>
