<!DOCTYPE html>
<html lang="en">

<head>
  <title>Robin's World</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
    </div>
    <nav>
      <ul>
        <li class="selected"><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/about">Find out more</a></li>
        <li><a href="/music">Music</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div>
      <h2>Welcome to Robin's World</h2>
      <p>Hi I'm Robin. I want to share my <a href="/recipes">recipes</a> with you</p>
    </div>
  </section>
</body>

<html>
