html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  background-color: #a7c8fb;
  height: 100%;
}

article {
  margin: 0 auto;
  padding: 50px 0 0;
  width: 70%;
}

section.col {
  float: left;
}

section.right {
  float: right;
}

section.two-thirds {
  width: 70%;
}

section.third {
  width: 30%;
}

figure {
  margin: 0;
}

header {
  background-color: #001580;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myfont.ttf);
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: myFirstFont, sans-serif;
}

h1 {
  color: white;
}

header div {
  margin: 0 auto;
  padding: 45px 0 0;
  width: 70%;
}

header h1 {
  font-size: 65px;
  display: inline-block;
}

p {
  color: black;
  font-weight: bold;
}

h2 {
  color: #800080;
  font-size: 35px;
}

h3 {
  color: #800080;
}

nav {
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display:inline-block;
}

nav li a {
  display: block;
  border: 1px solid;
  border-bottom: 0;
  padding: 15px;
  background-color: #7eaef9;
}

nav li.selected a {
  background-color: #a7c8fb;
}
