<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Music: Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/art">Art</a></li>
          <li class="selected"><a href="/music">Music</a></li>
          <li><a href="/about">Find out more</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <article>
      <section>
        <h2>My Music</h2>
        <p>This is where I share my Music.</p>
        <p>Violin</p>
        <p>A peaceful instrument, but hard to learn how to play</p>
        <p>piano</p>
        <p>Easy to learn your first song.</p>
      </section>
    </article>
  </main>
</body>

<html>
