<!DOCTYPE html>

<html>

<head>
  <title>Banana and Date Parcel</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's Recipe's</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/about">Find out more</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div>
      <h2>Banana and Date Parcel</h2>
      <h3>Ingredients</h3>
      <ul>
        <li>puff pastry</li>
        <li>2 tbsp caster surgar</li>
        <li>2 bananas</li>
        <li>10 dates</li>
        <li>1 egg</li>
      </ul>

      <h3>Method</h3>
      <ol>
        <li>Turn the oven to 180°C</li>
        <li>Put down the baking tray and lay greese proof paper over it.</li>
        <li>Roll out the puff pastry</li>
        <li>Put the puff pastry on the tray.</li>
        <li>Cut 1 banana and lay it over half the pastry</li>
        <li>Cut the dates into pieces and lay them on top of the banana</li>
        <li>Sprinkle 1 tbsp of caster sugar over the banana and dates</li>
        <li>Fold the pastry over and pinch the edges together</li>
        <li>Slice the other banana and lay the pieces on top of the pastry</li>
        <li>Sprinkle the remaining tbsn of sugar over the banana slices</li>
        <li>Brush the top of the pastry and banana slices with egg</li>
        <li>Put in the oven for 15 mins or until golden brown</li>
      </ol>
    </div>
  </section>
</body>

<html>
