<!DOCTYPE html>
<html lang="en">

<head>
  <title>Recipes: Robin's World</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="selected"><a href="/recipes">Recipes</a></li>
        <li><a href="/about">Find out more</a></li>
        <li><a href="/music">Music</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div>
      <h2>My Recipe's</h2>
      <h2><a href="/recipes/shortbread">Shortbread Heart Cake</a></h2>
      <p>My favourite Shortbread in the shape of hearts</p>
      <h2><a href="/recipes/banana-parcel">Banana and Date Parcel</a></h2>
      <p>A delicious and healthy desert</p>
    </div>
  </section>
</body>

<html>
