<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Recipes: Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="selected"><a href="/recipes">Recipes</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/about">Find out more</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <article>
      <section>
        <h2>My Recipe's</h2>
        <h3><a href="/recipes/shortbread">Shortbread Heart Cake</a></h3>
        <p>My favourite Shortbread in the shape of hearts</p>
        <h3><a href="/recipes/banana-parcel">Banana and Date Parcel</a></h3>
        <p>A delicious and healthy desert</p>
      </section>
    </article>
  </main>
</body>

<html>
