<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shortbread Heart Cake: Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    <div>
      <h2>Shortbread Heart cake</h2>
      <h3>Ingredients</h3>
      <ul>
        <li>
          <h4>Shortbread</h4>
          <ul>
            <li>Butter</li>
            <li>sugar</li>
            <li>flour</li>
            <li>poping candy</li>
          </ul>
        </li>
        <li>
          <h4>Icing</h4>
          <ul>
            <li>Icing sugar</li>
            <li>Pink food colouring</li>
            <li>water</li>
            <li>Sprinkles</li>
          </ul>
        </li>
      </ul>
      <h3>Method</h3>
      <h4>Shortbread</h4>
      <ol>
        <li>Turn the oven on to 180°C</li>
        <li>Mix the flour ,sugar and popping candy in a large bowl</li>
        <li>Rub the butter into the flour and sugar</li>
        <li>Beat it together till a smooth paste</li>
        <li>put in the oven for 15 min to cook</li>
        <li>When golden brown, take out and cut into heart shapes</li>
        <li>Leave to cool while you make the icing</li>
      </ol>

      <h4>Icing</h4>
      <ol>
       <li>Mix the water and icing sugar together.</li>
       <li>Add the food coloringto the water and icing sugar</li>
       <li>Mix till all the icing is the same color as the food coloring</li>
       <li>Poor the icing on the shortbread and add the sprinkles</li>
       <li>Leave to set, then eat!</li>
      </ol>
    </div>
  </section>
</body>

<html>











