<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Music: Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li class="selected"><a href="/art">Art</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/about">Find out more</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    <div>
      <h2>My Art</h2>
      <p>This is where I share my Art.</p>
      <p>I'm going to show you my art and how to do it.</p>
      <a href="/art/picasso"><img src="/public/images/art/picasso.jpg" alt="" width="200" height="300"></a>
    </div>
  </section>
</body>

<html>


