<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Music: Robin's World</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Robin's World</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li class="selected"><a href="/art">Art</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/about">Find out more</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    <div>
      <h2>In the style of Picasso</h2>
      <p>I'm giong to show you how to do it in the style of picasso.</p>
      <img src="/public/images/art/picasso.jpg" alt="" width="500" height="800">
    </div>
  </section>
</body>

<html>


